---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
  title: 'Duluth MakerSpace | Join the Duluth MakerSpace today!',
  description: 'Duluth MakerSpace Homepage',
};
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container">
      <h1>Duluth MakerSpace</h1>
      <p>
        Duluth MakerSpace is a 501c3 nonprofit providing an 11,000 sq foot community multi-discipline industrial, arts, and technology space where members get access to tools and equipment for a small monthly fee. We have acted as an incubator for small business, a workplace for artists, a creative outlet, and a location where ideas can become reality.
      </p>
      <h4>Our Mission</h4>
      <p>
        Promote life skills, sustainability, creativity and inspiration by providing access to tools, technical equipment, work space and education to the community at an affordable price.
      </p>
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/makerspace-logo-and-crafts.jpg"
        alt="A decorative display featuring the Duluth MakerSpace logo and other crafts created at the MakerSpace"
        id="home-hero-image"
      />
    </picture>
  </HeroSection>
  <TextSection narrow>
    <p>
      <b>NOTE: We are currently only open to RFID members due to CDC social distancing guidelines.</b>
    </p>
    <p>
      Interested in a walkthrough? Please email <a href="mailto:info@DuluthMakerSpace.com">info@DuluthMakerSpace.com</a> to schedule a tour.
    </p>
    <p>
      Interested in a membership? Please sign up for a <a href="#">DMS orientation class</a>, which are hosted every two weeks.
    </p>
  </TextSection>
</Layout>
